body {
   font-family: 'Segoe UI', sans-serif;
}
h4, h3{
   text-transform: uppercase;
}
.global {
   display: flex;
   flex-direction: row;
}

.painel {
   background-color: #010822;
   color: #fff;   /* Texto em branco */
   width: 30%;
   padding: 20px;   /* Espaçamento interno */
}

.painel a {
   color: #aad3ff;   /* Azul claro para links */
}

.painel a:hover {
   text-decoration: underline;
}

.painel h4 {
   padding-left: 30px;
}

.painel p {
   margin: 10px 0;
   padding-left: 15px;
}

.painel figure {
   display: flex;
   justify-content: center;
}

.painel img {
   width: 50%;
   border-radius: 50%;
   margin: 0 auto;
   display: block;
}
hr {
   border: none;
   border-top: 2px solid #010822;
   margin: 20px 0;
   width: 100%;
 }
 
.painel hr {
   border: 1px solid #2d4076;
   margin: 20px 0;
}

.conteudo {
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   width: 100%;
}

.conteudo h1 {
   display: flex;
   justify-content: center;
   font-size: 2.5em;
   align-items: center;
}

a {
   text-decoration: none;
   color: #fff;
}

a:hover {
   text-decoration: underline;
}

@media (max-width: 480px) {
   h1 {
      font-size: 2em;
   }

   .painel {
      padding: 15px;
   }
}

@media (max-width: 768px) {
   .global {
      flex-direction: column;
   }

   .painel {
      width: 100%;
   }
}